html {
  background-color: #f8f9fa;
  font-family: "Nunito Sans", sans-serif;
  color: #212529;
}

body {
}

.wrapper {
}

.about-section {
  position: relative;
  z-index: 1;
}

.about-section::before {
  display: block;
  content: "";
  width: 100%;
  height: 520px;
  bottom: 0;
  left: 0;
  background-color: #6c757d;
  position: absolute;
  transform: skewY(-12deg);
  transform-origin: left;
  z-index: -1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.about {
  padding: 40px;
  display: flex;
  align-items: center;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.picture {
  position: relative;
  text-align: center;
}

.avatar {
  max-width: 380px;
  height: auto;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #212529;
  font-size: 24px;
  color: #f8f9fa;
  font-weight: bold;
  border-radius: 0px 0px 16px 16px;
}

.about-text {
  padding: 40px 40px 25px 20px;
  background-color: #f8f9fa;
  border-radius: 0 16px 16px 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.about-text h2 {
  margin: 0;
  margin-bottom: 36px;
}

.about-text p {
  margin-bottom: 50px;
}

.about-icons {
  display: flex;
  justify-content: end;
  gap: 1.25em;
}

.about-icons img {
  width: 28px;
  height: auto;
}

main {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 300px;
  height: 360px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card img {
  width: 300px;
  height: 220px;
  object-fit: cover;
}

.card-text {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}

.card-text h3 {
  margin: 0;
}

.card-text img {
  width: 19px;
  height: auto;
}

.card-icons {
  gap: 12px;
  display: flex;
  align-items: center;
}
.card-icons svg {
  width: 19px;
  height: 19px;
}

.card-header-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

footer {
  background-color: #6c757d;
  margin-top: 80px;
  color: #f8f9fa;
}

footer img {
  max-width: 563px;
  height: auto;
  object-fit: cover;
}

.footer-content {
  max-width: 960px;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-wrap: wrap;
}
